
body {
  margin:0;
}

header {
  background-color: #404040;
  padding: 1rem;
}

header a {
  color:white;
  font-weight: bold;
}

main {
  padding: 1rem;
}
/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */


.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
/* .product img {
  width: 15rem;
  max-width: 400px;
} */
.product-info {
  padding: 1rem;
}